.popup {
  width: 80%;
  height: 80vh;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 50px;
  margin: auto;
  position: relative;
  overflow-y: scroll;
  background-color: #fff;

  // &:before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-color: lightgrey;
  //   filter: opacity(0.8);
  //   border-radius: inherit;
  //   z-index: -1;
  // }
}

.row {
  box-sizing: border-box;
  width: 100%;
}
